<div class="relative">
    <div id="aboutMe" class="w-full h-fit">
        <!-- Beliefs Section -->
        <div class="container max-w-6xl mx-auto px-4 py-8 width-full flex flex-col md:flex-row">
            <div class="md:w-1/4 md:sticky md:top-20 md:h-fit">
                <h2 class="text-4xl font-bold text-white mb-4">Who I am</h2>
            </div>
            <div class="flex flex-col w-full mb-8 md:ml-6 max-w-6xl mx-auto ">
                <p class="text-white mb-8">My name is Chris. All my professional goals are in service of making
                    healthcare more accessible to people. Keep scrolling to learn more about my beliefs about healthcare
                    and where I got my opinions.
                    <br />

                    However, when I'm not working, I'm usually singing, lifting, or hanging out with friends.
            </div>
        </div>
    </div>