<div class="flex flex-col items-center justify-center">

    <!-- Image container -->
    <div class="relative max-w-sm overflow-hidden group mb-4">
        <!-- Image -->
        <img src="{{book.image}}" alt="{{book.title}}" class="object-cover transition-transform duration-300">
        <!-- Overlay -->
        <div
            class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-80 transition-all duration-300 flex items-center justify-center">
            <!-- Text content -->
            <div
                class="text-gray-50 opacity-0 transform translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300">
                <p class="px-4">{{book.description | escape}}</p>
            </div>
        </div>
    </div>

    <!-- <h1 class="text-gray-50 text-xl">{{book.title}}</h1>
    <h2 class="text-gray-50 text-lg">{{book.author}}</h2> -->
</div>