<div id="aboutMe" class="w-full min-h-200px"></div>
<div class="container h-500 mx-auto px-4 py-8 width-full flex flex-col md:flex-row">
    <div class="md:w-1/4 md:sticky md:top-0 md:h-fit">
        <h2 class="text-4xl font-bold text-white mb-4">Experience</h2>
    </div>
    <div class="flex flex-col w-full mb-8 ml-6 ">
        <div>
            <span>
                <h3 class="text-xl font-bold text-white">Fortuna Health</h3>
                <div class="w-24 h-1 bg-orange-500 my-1 align-middle rounded-full"></div>
                <p class="text-gray-400 mb-2">Founding Engineer • Oct 2024 - Present</p>

                <p class="text-white mb-8">Currently a founding engineer at <a href="https://www.fortunahealth.com"
                        target="_blank" rel="noopener noreferrer">Fortuna Health</a>,
                    a Medcaid eligibility and enrollment improvement platform.</p>
        </div>
        <div class="flex flex-col w-full mb-8">
            <h3 class="text-xl font-bold text-white mb">Blueberry Pediatrics</h3>
            <div class="w-24 h-1 bg-blue-700 my-1 align-middle rounded-full"></div>
            <p class="text-white mb-8">I was a founding engineer at <a href="https://blueberrypediatrics.com"
                    target="_blank" rel="noopener noreferrer">Blueberry Pediatrics</a>,
                a pediatric telehealth platform.</p>
        </div>
    </div>
    < </div>
</div>