<div id="aboutMe" class="w-full min-h-200px"></div>
<div class="container h-500 max-w-6xl max-w-6xl mx-auto px-4 py-8 width-full flex flex-col md:flex-row">
    <div class="md:w-1/4 md:sticky md:top-20 md:h-fit">
        <h2 class="text-4xl font-bold text-gray-50 mb-4 md:mb-0">Experience</h2>
    </div>
    <div class="flex flex-col w-full mb-8 md:ml-6 max-w-6xl mx-auto">
        <div>
            <span>
                <h3 class="text-xl font-bold text-gray-50" href="https://www.fortunahealth.com">Fortuna Health</h3>
                <div class="w-24 h-1 bg-orange-500 my-1 align-middle rounded-full"></div>
                <p class="text-gray-400 mb-2">Founding Engineer • Oct 2024 - Present</p>

                <p class="text-gray-50 mb-8">Fortuna Health is a Medcaid eligibility and enrollment improvement platform.
                    We work with Providers and Payers to improve enrollment and renewal so members can get the care they
                    were promised.
                </p>
            </span>
        </div>
        <div class="flex flex-col w-full mb-8">
            <h3 class="text-xl font-bold text-gray-50 mb" href="https://blueberrypediatrics.com">Blueberry Pediatrics</h3>
            <div class="w-24 h-1 bg-blue-700 my-1 align-middle rounded-full"></div>
            <p class="text-gray-400">Senior Engineer • Nov 2023 - Sep 2024</p>
            <p class="text-gray-400 mb-2">Software Engineer • Jan 2022 - Nov 2023</p>
            <p class="text-gray-50 mb-2">Blueberry Pediatrics is an online pediatric concierge care. They provide a team of
                board-certified pediatricians that you can call 24/7.</p>
        </div>
        <div class="flex flex-col w-full mb-8">
            <h3 class="text-xl font-bold text-gray-50 mb" href="https://aws.com">Amazon Web Services</h3>
            <div class="w-24 h-1 bg-orange-500 my-1 align-middle rounded-full"></div>
            <p class="text-gray-400">SDE I • Sep 2020 - Jan 2022</p>
            <p class="text-gray-400 mb-2">SDE Intern • May 2019 - Aug 2019</p>
            <p class="text-gray-50 mb-2">AWS STS is a service that allows you to manage temporary credentials for AWS
                resources. One of the most called services in AWS, they handle volume for all AWS customers.
            </p>

        </div>
        <div class="flex flex-col w-full mb-8">
            <h3 class="text-xl font-bold text-gray-50 mb" href="https://aws.com">Flatiron Health</h3>
            <div class="w-24 h-1 bg-blue-800 my-1 align-middle rounded-full"></div>
            <p class="text-gray-400 mb-2">Software Engineer Intern • Jun 2018 - Aug 2018</p>
            <p class="text-gray-50 mb-2">Flatiron Health offers OncoEMR, a platform for oncologists to manage their
                patients. They use their datastore to gather insights about cancers from real world data.
            </p>

        </div>
    </div>
</div>
</div>