<nav id="mainNav" class="sticky top-0 bg-gray-950/80 backdrop-blur-sm shadow-lg z-50 transition-all duration-300">
    <div id="gradientOverlay" class="fixed bg-gray-900 bg-opacity-70"></div>

    <div class="container mx-auto px-4">
        <div class="flex flex-row items-center justify-between h-16">
            <!-- Navigation Links -->
            <div class="hidden md:flex space-x-8">
                <a href="#beliefs"
                    class="nav-link px-3 py-2 text-gray-300 hover:text-cyan-300 transition-colors duration-200">Beliefs</a>
                <a href="#experience"
                    class="nav-link px-3 py-2 text-gray-300 hover:text-cyan-300 transition-colors duration-200">Experience</a>
                <a href="#projects"
                    class="nav-link px-3 py-2 text-gray-300 hover:text-cyan-300 transition-colors duration-200">Projects</a>
                <a href="#books"
                    class="nav-link px-3 py-2 text-gray-300 hover:text-cyan-300 transition-colors duration-200">Books</a>
            </div>
            <div id="socialLinks" class="flex flex-row items-center justify-center space-x-6">
                <a href="mailto:lookwchristopher@gmail.com" target="_blank rel=" noopener noreferrer"
                    class="hover:text-blue-500 transition-colors duration-300">
                    <i data-lucide="mail" color="white"></i>
                </a>
                <a href="https://github.com/lookcw" target="_blank" rel="noopener noreferrer"
                    class="hover:text-blue-700 transition-colors duration-300">
                    <i data-lucide="github" color="white"></i>
                </a>
                <a href="https://linkedin.com/in/christopher-look"
                    class="hover:text-blue-700 transition-colors duration-300">
                    <i data-lucide="linkedin" color="white"></i>
                </a>
                <a href="https://linkedin.com/in/christopherlook"
                    class="hover:text-blue-700 transition-colors duration-300">
                    <i data-lucide="file-text" color="white"></i>
                </a>
            </div>
        </div>
    </div>
    </div>
</nav>