<div id="aboutMe" class="w-full min-h-200px"></div>
<div class="container h-500 mx-auto px-4 py-8 width-full flex flex-col md:flex-row">
    <div class="md:w-1/4 md:sticky md:top-0 md:h-fit">
        <h2 class="text-4xl font-bold text-white mb-4">Projects</h2>
    </div>
    <div class="flex flex-col w-full mb-8 gap-6">
        <div class="flex flex-col md:flex-row mb-6">
            <div class="md:w-1/4">
                <div class="flex flex-col items-center justify-center space-y-4 h-full mt-8">
                    <div class="flex flex-col my-8 items-center justify-center h-24 rounded-lg">
                        <div class="flex flex-col items-center justify-center space-y-4 mb-2 text-center">
                            <img src="/assets/images/headshot.jpeg" alt="Christopher Look"
                                class="w-28 h-28 rounded-full">
                        </div>
                        <div class="flex flex-col items-center justify-center space-y-4 text-center mb-2">
                            <h1 class="text-lg font-bold text-gray-800 transition-all duration-300 text-white">Synapto
                            </h1>
                        </div>
                        <div id="socialLinks" class="flex flex-row items-center justify-center space-x-8">
                            <a href="https://eng.umd.edu/news/story/transforming-medicine-impacting-health"
                                target="_blank rel=" noopener noreferrer"
                                class="hover:text-blue-500 transition-colors duration-300">
                                <i data-lucide="link" class="w-4 h-4" color="gray"></i>
                            </a>
                            <a href="https://github.com/lookcw/Synapto" target="_blank" rel="noopener noreferrer"
                                class="hover:text-blue-700 transition-colors duration-300">
                                <i data-lucide="github" class="w-4 h-4" color="gray"></i>
                            </a>
                            <a href="https://www.youtube.com/watch?v=nH31MzpWeRY"
                                class="hover:text-blue-700 transition-colors duration-300">
                                <i data-lucide="youtube" class="w-4 h-4" color="gray"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-3/4 flex items-center text-white">
                <p>Synapto was an early stage biotech company revolutionizing Alzheimer's diagnosis through portable EEG
                    and
                    Machine Learning. It has since taken a hiatus and may return in the future. It was awarded over
                    $40,000
                    throughout its lifetime in various competitions.</p>

            </div>
        </div>
        <div class="w-full h-px bg-gray-700 my-1 align-middle rounded-full"></div>

        <div class="flex flex-col md:flex-row">
            <div class="md:w-1/4">
                <div class="flex flex-col items-center justify-center space-y-4 h-full mt-8">
                    <div class="flex flex-col my-8 items-center justify-center h-24 rounded-lg">
                        <div class="flex flex-col items-center justify-center space-y-4 mb-2 text-center">
                            <img src="/assets/images/headshot.jpeg" alt="Christopher Look"
                                class="w-28 h-28 rounded-full">
                        </div>
                        <div class="flex flex-col items-center justify-center space-y-4 text-center mb-2">
                            <h1 class="text-lg font-bold text-gray-800 transition-all duration-300 text-white">Synapto
                            </h1>
                        </div>
                        <div id="socialLinks" class="flex flex-row items-center justify-center space-x-8">
                            <a href="https://eng.umd.edu/news/story/transforming-medicine-impacting-health"
                                target="_blank rel=" noopener noreferrer"
                                class="hover:text-blue-500 transition-colors duration-300">
                                <i data-lucide="link" class="w-4 h-4" color="gray"></i>
                            </a>
                            <a href="https://github.com/lookcw/Synapto" target="_blank" rel="noopener noreferrer"
                                class="hover:text-blue-700 transition-colors duration-300">
                                <i data-lucide="github" class="w-4 h-4" color="gray"></i>
                            </a>
                            <a href="https://www.youtube.com/watch?v=nH31MzpWeRY"
                                class="hover:text-blue-700 transition-colors duration-300">
                                <i data-lucide="youtube" class="w-4 h-4" color="gray"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-3/4 flex items-center text-white">
                <p>Synapto was an early stage biotech company revolutionizing Alzheimer's diagnosis through portable EEG
                    and
                    Machine Learning. It has since taken a hiatus and may return in the future. It was awarded over
                    $40,000
                    throughout its lifetime in various competitions.</p>

            </div>
        </div>
        <div class="flex flex-col md:flex-row">
            <div class="md:w-1/4">
                <div class="flex flex-col items-center justify-center space-y-4 h-full mt-8">
                    <div class="flex flex-col my-8 items-center justify-center h-24 rounded-lg">
                        <div class="flex flex-col items-center justify-center space-y-4 mb-2 text-center">
                            <img src="/assets/images/headshot.jpeg" alt="Christopher Look"
                                class="w-28 h-28 rounded-full">
                        </div>
                        <div class="flex flex-col items-center justify-center space-y-4 text-center mb-2">
                            <h1 class="text-lg font-bold text-gray-800 transition-all duration-300 text-white">Synapto
                            </h1>
                        </div>
                        <div id="socialLinks" class="flex flex-row items-center justify-center space-x-8">
                            <a href="https://eng.umd.edu/news/story/transforming-medicine-impacting-health"
                                target="_blank rel=" noopener noreferrer"
                                class="hover:text-blue-500 transition-colors duration-300">
                                <i data-lucide="link" class="w-4 h-4" color="gray"></i>
                            </a>
                            <a href="https://github.com/lookcw/Synapto" target="_blank" rel="noopener noreferrer"
                                class="hover:text-blue-700 transition-colors duration-300">
                                <i data-lucide="github" class="w-4 h-4" color="gray"></i>
                            </a>
                            <a href="https://www.youtube.com/watch?v=nH31MzpWeRY"
                                class="hover:text-blue-700 transition-colors duration-300">
                                <i data-lucide="youtube" class="w-4 h-4" color="gray"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:w-3/4 flex items-center text-white">
                <p>Synapto was an early stage biotech company revolutionizing Alzheimer's diagnosis through portable EEG
                    and
                    Machine Learning. It has since taken a hiatus and may return in the future. It was awarded over
                    $40,000
                    throughout its lifetime in various competitions.</p>

            </div>
        </div>

    </div>
</div>