<div id="aboutMe" class="w-full min-h-200px">
    <div class="container h-500 mx-auto px-4 py-8 width-full flex flex-col md:flex-row">
        <div class="md:w-1/4 md:sticky md:top-20 md:h-fit">
            <h2 class="text-4xl font-bold text-white">Projects</h2>
        </div>
        <div class="flex flex-col w-full mb-8 gap-6">
            <div class="flex flex-col md:flex-row mb-6 space-y-6 md:space-y-0 space-x-10">
                <div class="md:w-1/4">
                    <div class="flex flex-col items-center justify-center space-y-4 h-full">
                        <div class="flex flex-col my-8 items-center justify-center h-24 rounded-lg">
                            <div class="flex flex-col items-center justify-center space-y-4 text-center">
                                <img src="/assets/images/projects/synapto.jpg" alt="Christopher Look"
                                    class="w-40 h-40 rounded-full">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="md:w-3/4 flex flex-col text-white justify-center">
                    <div class="flex flex-col md:flex-row justify-center md:justify-start items-center mb-4">
                        <h3 class="text-2xl font-bold text-white mr-4">Synapto</h3>
                        <div id="socialLinks" class="flex flex-row space-x-6">
                            <a href="https://eng.umd.edu/news/story/transforming-medicine-impacting-health"
                                target="_blank rel=" noopener noreferrer"
                                class="hover:text-blue-500 transition-colors duration-300">
                                <i data-lucide="link" class="w-4 h-4" color="gray"></i>
                            </a>
                            <a href="https://github.com/lookcw/Synapto" target="_blank" rel="noopener noreferrer"
                                class="hover:text-blue-700 transition-colors duration-300">
                                <i data-lucide="github" class="w-4 h-4" color="gray"></i>
                            </a>
                            <a href="https://www.youtube.com/watch?v=nH31MzpWeRY"
                                class="hover:text-blue-700 transition-colors duration-300">
                                <i data-lucide="youtube" class="w-4 h-4" color="gray"></i>
                            </a>
                        </div>
                    </div>
                    <p>Synapto was an early stage biotech company revolutionizing Alzheimer's diagnosis through portable
                        EEG
                        and
                        Machine Learning. It has since taken a hiatus and may return in the future. It was awarded over
                        $40,000
                        throughout its lifetime in various competitions.</p>

                </div>
            </div>
            <div class="flex flex-col md:flex-row mb-6 space-y-6 md:space-y-0 space-x-10">
                <div class="md:w-1/4">
                    <div class="flex flex-col items-center justify-center space-y-4 h-full">
                        <div class="flex flex-col my-8 items-center justify-center h-24 rounded-lg">
                            <div class="flex flex-col items-center justify-center space-y-4 text-center">
                                <img src="/assets/images/projects/autocall.png" alt="Christopher Look"
                                    class="w-40 h-40 rounded-full">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="md:w-3/4 flex flex-col text-white justify-center">
                    <div class="flex flex-col md:flex-row justify-center md:justify-start items-center mb-4">
                        <h3 class="text-2xl font-bold text-white mr-4">Google Meet Autocall</h3>
                        <div id="socialLinks" class="flex flex-row space-x-6">
                            <a href="https://eng.umd.edu/news/story/transforming-medicine-impacting-health"
                                target="_blank rel=" noopener noreferrer"
                                class="hover:text-blue-500 transition-colors duration-300">
                                <i data-lucide="link" class="w-4 h-4" color="gray"></i>
                            </a>
                            <a href="https://github.com/lookcw/Synapto" target="_blank" rel="noopener noreferrer"
                                class="hover:text-blue-700 transition-colors duration-300">
                                <i data-lucide="github" class="w-4 h-4" color="gray"></i>
                            </a>
                            <a href="https://www.youtube.com/watch?v=nH31MzpWeRY"
                                class="hover:text-blue-700 transition-colors duration-300">
                                <i data-lucide="youtube" class="w-4 h-4" color="gray"></i>
                            </a>
                        </div>
                    </div>
                    <p class="text-white">If you use Google Meet for work, I'm sure you're familiar with the stress of
                        needing to remember to join the meeting at the right time. You spend the 15 minutes before the
                        meeting not concentrating as well because you don't want to miss it. I made an extension to call
                        you when your meeting starts so you can focus on your work.</p>

                </div>
            </div>
            <div class="flex flex-col md:flex-row mb-6 space-y-6 md:space-y-0 space-x-10">
                <div class="md:w-1/4">
                    <div class="flex flex-col items-center justify-center space-y-4 h-full">
                        <div class="flex flex-col my-8 items-center justify-center h-24 rounded-lg">
                            <div class="flex flex-col items-center justify-center space-y-4 text-center">
                                <img src="/assets/images/projects/EEGML1.png" alt="Christopher Look"
                                    class="w-40 h-40 rounded-full">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="md:w-3/4 flex flex-col text-white justify-center">
                    <div class="flex flex-col md:flex-row justify-center md:justify-start items-center mb-4">
                        <h3 class="text-2xl font-bold text-white mr-4">EEGML</h3>
                        <div id="socialLinks" class="flex flex-row space-x-10">
                            <a href="https://github.com/lookcw/EEGML" target="_blank" rel="noopener noreferrer"
                                class="hover:text-blue-700 transition-colors duration-300">
                                <i data-lucide="github" class="w-4 h-4" color="gray"></i>
                            </a>
                        </div>
                    </div>
                    <p class="text-white">Inspired by my time at Synapto, EEGML is a toolkit that simplifies
                        classification of EEG data using machine learning. The user writes preprocessing and feature
                        extraction functions and the library handles the rest.</p>

                </div>
            </div>
            <div class="flex flex-col md:flex-row mb-6 space-y-6 md:space-y-0 space-x-10">
                <div class="md:w-1/4">
                    <div class="flex flex-col items-center justify-center space-y-4 h-full">
                        <div class="flex flex-col my-8 items-center justify-center h-24 rounded-lg">
                            <div class="flex flex-col items-center justify-center space-y-4 text-center">
                                <img src="/assets/images/projects/Senvision.png" alt="Christopher Look"
                                    class="w-40 h-40 rounded-full">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="md:w-3/4 flex flex-col text-white justify-center">
                    <div class="flex flex-col md:flex-row justify-center md:justify-start items-center mb-4">
                        <h3 class="text-2xl font-bold text-white mr-4">Senvision</h3>
                        <div id="socialLinks" class="flex flex-row space-x-6">
                            <a href="https:senvision.io" target="_blank rel=" noopener noreferrer"
                                class="hover:text-blue-500 transition-colors duration-300">
                                <i data-lucide="link" class="w-4 h-4" color="gray"></i>
                            </a>
                            <a href="https://github.com/lookcw/Senvision" target="_blank" rel="noopener noreferrer"
                                class="hover:text-blue-700 transition-colors duration-300">
                                <i data-lucide="github" class="w-4 h-4" color="gray"></i>
                            </a>
                        </div>
                    </div>
                    <p class="text-white">Senvision was a project to use news based trading algorithms to give
                        millennials
                        trading advice. We developed a trading algorithm that 2x'ed the underlying stocks they traded.

                    </p>

                </div>
            </div>
            <div class="flex flex-col md:flex-row mb-6 space-y-6 md:space-y-0 space-x-10">
                <div class="md:w-1/4">
                    <div class="flex flex-col items-center justify-center space-y-4 h-full">
                        <div class="flex flex-col my-8 items-center justify-center h-24 rounded-lg">
                            <div class="flex flex-col items-center justify-center space-y-4 text-center">
                                <img src="/assets/images/projects/BirA.png" alt="Christopher Look"
                                    class="w-40 h-40 rounded-full">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="md:w-3/4 flex flex-col text-white justify-center">
                    <div class="flex flex-col md:flex-row justify-center md:justify-start items-center mb-4">
                        <h3 class="text-2xl font-bold text-white mr-4">Allostery Research</h3>
                        <div id="socialLinks" class="flex flex-row space-x-6">
                            <a href="https://pubs.acs.org/doi/10.1021/acs.biochem.9b01006" target="_blank rel=" noopener noreferrer"
                                class="hover:text-blue-500 transition-colors duration-300">
                                <i data-lucide="book-open-text" class="w-4 h-4" color="gray"></i>
                            </a>
                        </div>
                    </div>
                    <p class="text-white">Allostery is the interaction of a non-binding site of a protein with the
                        binding site. Here, I with a team of researchers, investigated mechanism behind the allosteric
                        interaction of BirA and found a novel method of predicting critical amino acids.
                    </p>

                </div>
            </div>
        </div>
    </div>