<div id="titleCard" class="w-full min-h-200px">
    <div class="container h-screen max-w-6xl mx-auto px-4 width-full">
        <div class="flex flex-col items-center justify-center space-y-4 h-full">
            <div class="bg-gray-900 flex flex-col my-8 items-center justify-center min-w-[300px] md:min-w-[600px] h-96 rounded-lg">
                <div class="flex flex-col items-center justify-center space-y-4 mb-6 text-center">
                    <img src="assets/images/headshot.jpeg" alt="Christopher Look" class="w-36 h-36 rounded-full">
                </div>
                <div class="flex flex-col items-center justify-center space-y-4 text-center mb-2">
                    <h1 class="text-2xl md:text-5xl font-bold transition-all duration-300 text-gray-50">Christopher
                        Look</h1>
                </div>
                <div class="flex flex-col items-center justify-center space-y-4 text-center mb-8">
                    <p class="text-gray-400">Founding Engineer @ Fortuna Health</p>
                </div>
                <div id="socialLinks" class="flex flex-row items-center justify-center space-x-4">
                    <a href="mailto:lookwchristopher@gmail.com" target="_blank rel=" noopener"
                        class="hover:text-blue-500 transition-colors duration-300">
                        <i data-lucide="mail" color="white"></i>
                    </a>
                    <a href="https://github.com/lookcw" target="_blank" rel="noopener"
                        class="hover:text-blue-700 transition-colors duration-300">
                        <i data-lucide="github" color="white"></i>
                    </a>
                    <a href="https://linkedin.com/in/christopher-look" target="_blank"
                        class="hover:text-blue-700 transition-colors duration-300">
                        <i data-lucide="linkedin" color="white"></i>
                    </a>
                    <a href="assets/Christopher_Look_Resume.pdf" download
                        class="hover:text-blue-700 transition-colors duration-300">
                        <i data-lucide="file-text" color="white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute bottom-8 left-1/2 transform -translate-x-1/2 animate-bounce cursor-pointer">
        <i data-lucide="chevron-down" color="white" size="32" onclick="scrollWithOffset('beliefs', 80)"></i>
    </div>
    
</div>