<div class="relative">
    <div id="aboutMe" class="w-full min-h-[200px]"></div>
    
    <!-- Beliefs Section -->
    <div class="container mx-auto px-4 py-8 width-full flex flex-col md:flex-row">
      <div class="md:w-1/4 md:sticky md:top-2 md:h-fit">
        <h2 class="text-4xl font-bold text-white mb-4">Beliefs</h2>
      </div>
      <div class="flex flex-col w-full mb-8 ml-6 ">
        <h3 class="text-xl font-bold text-white mb-2">🏥 American Healthcare is a mess.</h3>
        <p class="text-white mb-8">American Healthcare is a mess. Built up piecemeal over decades, different players have added their own methods of extracting value from the system. The result has been a system that is complex, expensive, and wraught with misaligned incentives. One day, I hope to see a system that prioritizes people's health, and players that profit from health rather than sickness.</p>
  
        <h3 class="text-xl font-bold text-white mb-2">📈 We need new business models.</h3>
        <p class="text-white mb-8">We need new business models. We need to move away from the traditional fee-for-service model, and towards a model where we pay for outcomes. Eventually, with this, both payers and providers will be incentivized to get more people participating in their health, and will profit from that. We can't do that with all diseases yet, but its certainly a step in the right direction.</p>
  
        <h3 class="text-xl font-bold text-white mb-2">⭐ Startups are the future.</h3>
        <p class="text-white mb-8">Simplicity is king for lowering cost. Legislators and policymakers continuously believe the solution to lowering cost is more rules, more regulations, more complexity. I believe they have the best intentions, but they cannot foresee how players will find way to game the system. To avoid the complexity of the current system, we need new players to make their own rules and build from first principles. Incumbents are never the best positioned players to create new business models.</p>
        
        <p class="text-white mb-8">If you have an opinion, differing or similar, on any of these, I'm always trying to learn from others, please reach out!</p>
      </div>
    </div>
</div>  